:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --swiper-theme-color: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #9ac9f1;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.navBar {
  text-align: center;
  background-color: #242424;
  color: #f9f9f9;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}


/*@media(max-width: 799px){
  .swiper {
  width: 100vh;
  height: 75vh;
}
}

@media(min-width: 800px){
  .swiper {
  width: 70vw;
  height: 70vh;
}
} 

/*
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}*/

.swiper-slide img {
  display: block;
  width: 100vw;
  height: 80vh;
  object-fit:cover;
}

@media(max-width: 899px){
  .swiper {
  width: 100%;
  height: 100%;
}

.bioMain {
  display: grid;
  grid-row: 1fr 1fr 1fr 1fr;
  margin-top: 150px;
  justify-items: center;
  align-items: center;
}

.scissors {
  grid-row: 1;
  margin-left: 20px;
  display: flex;
  width: 100%;
}

.scissors img {
  width: 30vw;
}


.comb {
  grid-row: 4;
  margin-right: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.comb img {
  width: 30vw;
}

.circle
    {
    grid-row: 2 / 3;
    }

.profilePic{
  display: none;
}

.circleText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  word-break: break-word; 

}

.circleText span {
  margin-top: 5px;
  max-width: 100%;
}

.insiderPic img {
  height: 200px; 
  border-radius: 20%;
  object-fit: cover;
  margin-right: 20px; 

}

}

@media(min-width: 900px){
  .swiper {
  width: 70%;
  height: 50%;
}

.bioAdjust {
  display: flex;
  justify-content: center;
}

.bioMain {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-top: 150px;
  align-items: center;
  height: 50vh;
  width: 80vw;
  gap: 10px
}

.scissors {
  grid-column: 1;
  display: flex;
}

.scissors img {
  width: 40%;
}

.comb {
  grid-column: 4;
}

.comb > div > div:first-child {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.comb img {
  width: 40%;
  margin-left: auto;
}

.circle
    {
    grid-column: span 2 ;
    }
.circleText {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}

.insiderPic img {
  width: 100%;
  height: auto;
  max-width: 200px; /* Adjust the max width as needed */
  border-radius: 20%;
  object-fit: cover;
  margin-right: 20px; /* Add spacing between image and span */

}
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bioAdjust{
  overflow-x: hidden;
}

.circle
    {
      display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 200px;
  font-size: 15px;
  color: #000000;
  background: rgba(255, 255, 255, 0.432);
  overflow: hidden; 
  padding: 20px;
  margin-bottom: 60px;
    }

.circleText {
  display: flex;

}



.insiderPic {
  flex-basis: 50%;
}

.gMaps {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 40px;
  background-color: #242424;
  padding-top: 40px;
  padding-bottom: 40px;
}